.bucket{

    .gross_bucket{
        width: 173px;
        height: 253px;
        background-color: $action-color-1;
        border-radius: 4px;
        padding: 14px;
        position: relative;

        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;

            .total{
                color: $color-light-1;
            }

            button{
                background-color: $action-color-1;
            }
        }

        .fruits{
            width: calc( 100% - 28px );
            max-height: 189px;
            position: absolute;
            bottom: 0;
            overflow-y: scroll;

            .fruit{
                width: 100%;
                padding: 15px;
                background-color: $color-light-1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 4px;
                margin-bottom: 14px;

                .fruitName{
                    font-weight: 700;
                }
    
                .fruitPrice{
                    font-size: .87em;
                }
            }
        }
    }

    .capacity{
        font-size: 0.81em;
        margin-top: 10px;
    }
}