.bucket{

    .gross_bucket{
        width: 173px;
        height: 253px;
        background-color: $action-color-1;
        border-radius: 4px;
        padding: 14px;
        position: relative;

        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;

            .total{
                color: $color-light-1;
            }

            button{
                background-color: $action-color-1;
            }
        }

        .fruits{
            width: calc( 100% - 28px );
            max-height: 189px;
            position: absolute;
            bottom: 0;
            overflow: hidden;

            &:hover{
                overflow-y: scroll;
            }

            .fruit{
                width: 100%;
                padding: 15px;
                background-color: $color-light-1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 4px;
                margin-bottom: 14px;
                position: relative;

                &:hover{
                    .fruitActions{
                        display: flex;
                    }
                }

                .fruitName{
                    font-weight: 700;
                }
    
                .fruitPrice{
                    font-size: .87em;
                }

                .fruitActions{
                    width: 50%;
                    height: 100%;
                    background-color: $background-color-1;
                    display: none;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    justify-content: space-around;

                    .removeFruit{
                        margin-top: -2px;
                    }

                    .removeFruit, .addFruit{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .capacity{
        font-size: 0.81em;
        margin-top: 10px;
    }
}